/* -----CTA---*/
.cta{
    .cta__container{
        background-color: $cor-terciaria;
        margin-top:  7.5rem;
        margin-bottom:  7.5rem;
    
        .cta__bloco{
            grid-column:  4/ span 6;
            height: 24.75rem;
            text-align: center;
            color: $branco;
            display: grid;
            align-content: center;
    
            .cta__bloco__titulo{
                font-family: $font-darker;
                font-style: normal;
                font-weight: 900;
                font-size: 2rem;
                line-height: 100%;
                color: $branco;
                margin:0;
            }
            
            .cta__bloco__texto{
                font-family: $font-nunito;
                font-style: normal;
                font-weight: 400;
                font-size: 1rem;
                line-height: 150%;
                color: $branco;
                margin-top:1.5rem;
                margin-bottom: 2.5rem;
            }
            
            .cta__bloco__button{
                text-decoration: none;
                justify-content: center;
    
                .cta__bloco__button__bt{
                    width: 16rem;
                    padding: 0.5rem 1.5rem;
                    background: $base-claro;
                    color: $cor-terciaria;
    
                    &:hover{
                        background: $cor-primaria;
                        color: $base-claro;
    
                    }
                }
            }
    
    
        }
    }
}




/*__________________________screens_____________________________________________*/

/*__________________________mobile_____________________________________________*/
@mixin ajuste-bloco-textos {
    width: 90%;
    justify-self: center;
}

@media only screen and (min-width: 320px) and (max-width: 480px){
   .cta{
    .cta__container{
        margin-top: 0rem;
        margin-bottom: 7.5rem;
    
            .cta__bloco{
                padding: 1rem;
                width: 90%;
    
                .cta__bloco__texto{
                    @include ajuste-bloco-textos();
                } .cta__bloco__titulo{
                    @include ajuste-bloco-textos();
                
                }

            }
        }
   }


}

/*__________________________tablet_____________________________________________*/


@media only screen and (min-width: 481px) and (max-width: 768px) {



}


/*__________________________notebook_____________________________________________*/


@media only screen and (min-width: 769px) and (max-width: 1024px) {



}



/*__________________________telas maiores_____________________________________________*/

@media only screen and (min-width: 1025px){


}
