//cores
$branco: #ffffff;
$preto:#000000;

$cor-primaria: #B983FF;
$cor-secudaria: #39A2DB;
$cor-terciaria:#544179;

$base-escuro:#212429;
$base-medio:#7E8A98;
$base-fundo:#f4f4f554;
$base-claro: #F1F3F5;


// fontes
$font-nunito:'Nunito Sans';
$font-darker:'Darker Grotesque';

