
/*-- cards-*/
.cards__titulo{
    grid-column:  1 / 6;
}

.cards__titulo__h2{
    font-family: var(--font-darker);
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 100%;
    color: var(--base-escuro);
    width: 100%;
    height: 2rem;

}

.cards__box{
    display: contents;
    margin-bottom: 7.5rem;
}

.cards__itens{
    background: var(--branco);
    box-shadow: 0rem 0.25rem 0.75rem rgba(33, 36, 41, 0.14);
    border-radius: 0.125px;
    grid-column:  span 4;
    max-width: 100%;
    padding: 1.5rem;
}

.cards_itens_icons{
    width: 2rem;
    height: 2rem;
    background: var(--base-fundo);
    padding: 0.6rem;
    border-radius: 0.9rem;
}

.cards_itens_title{
    font-family: var(--font-darker);
    font-style: normal;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 110%;
    color: var(--base-escuro);
    display: flex;
    align-items: center;
    width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cards_itens_texto{
    position: static;
    width: 100%;
    height: 9rem;

    font-family: var(--font-nunito);
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    display: flex;
    align-items: center;
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 1rem 0rem;
    
}



/*__________________________screens_____________________________________________*/

/*__________________________mobile_____________________________________________*/

@media only screen and (min-width: 320px) and (max-width: 480px){
    .cards__titulo{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cards__container{
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }

}

/*__________________________tablet_____________________________________________*/


@media only screen and (min-width: 481px) and (max-width: 768px) {
    .cards__titulo{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .cards__container{
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: wrap;
    }
}


/*__________________________notebook_____________________________________________*/


@media only screen and (min-width: 769px) and (max-width: 1024px) {

.cards__itens{
    grid-column: span 6;
}

.cards__titulo{
    padding-left: 1rem;
    padding-right: 1rem;
    grid-column: 1 / 12;
}
.cards__container{
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

}





/*__________________________telas maiores_____________________________________________*/

@media only screen and (min-width: 1025px){


}